*{
    margin: 0;
    padding:0;
    transition: all 0.5s;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #111;
    color: #eee;
}
.landing h1{
    font-family: "Noto Sans JP", sans-serif;
    position: absolute;
    margin-top: -7.5em;
    margin-left: 6.25em;
    font-size: 50px;
}
.navbar{
    position: fixed;
    background: #b83d57;
    width: 160vh;
    height: 10vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar a{
    color: #eee;
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    z-index: 10;
}
 
li {
    float: left;
    padding: 20px;
}  
li a{
    padding: 10px;
}
li a:hover:not(.active) {
    background-color: #111;
    border-radius: 10px;
}
.landing q{
    position: absolute;
    margin-top: -15em;
    margin-left: 22.5em;
    padding-left: 10px;
}
.about{
    height: 100vh;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #eee;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .about h1{
      margin-left: 2.5em;
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 500;
  }
.hr{
    margin-top: 1rem;
    margin-left: 5em;
    width: 10%;
}
.para-div{
    display: flex;
}
.para-div li:first-child{
    margin-left: 1em;
}
.para-div li:nth-child(2){
   margin-top: 5em;
}
.img img{
    border-radius: 100%;
}
.content-section{
    height: 90vh;
    padding-top: 10em;
}
.form-1{
    width: 65vh;
    height: 60vh;
    margin-left: 18em;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 10px;
    background: #000;
    box-shadow: 0 0 10px 10px  rgba(0,0,0,0.5);
}
.form-2{
    width: 65vh;
    height: 50vh;
    margin-left: 18em;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 10px;
    background: #000;
    box-shadow: 0 0 10px 10px  rgba(0,0,0,0.5);
}
form a{
    color: #b83d57;
    text-decoration: none;
    font-weight: 700;
}
.form-check{
    margin-top: 10px;
    margin-left: 5px;
}

fieldset{
    border: none;
    padding: 10px;
    margin-top: 50px;
}
.form-control-label{
    float: right;
    padding-top: 12.5px;
}
.form-control{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
}
.btn{
    padding: 10px;
    border:none;
    border-radius: 5px;
    background: #b83d57;
    margin-bottom: 10px;
    margin-left: 1rem;
    cursor: pointer;
}
.text{
    margin-left: 10px;
    padding-bottom: 10px;
}
form legend{
    font-size: 24px;
    font-weight: 800;
    color: #b83d57;
}
footer{
    bottom: 0;
    border-top: 2px solid #eee;
    padding:10px;
}
footer h6{
    font-size: 14px;
}
footer i {
    color: #b83d57;
}
.missions{
    padding-top: 6.5rem;
}
.missions-hr{
    width: 30%;
}
.mission-hr-1{
    width: 85%;
}
.mission-1{
    height: 65vh;
}
.aim-content{
    list-style: none;
    display: flex;
}
.aim-content li:first-child{
    margin-top: 35px;
    margin-left: 2.5em;
}
.aim-content li:nth-child(2){
    margin-right: 2.5em;
}
.aim h1{
    margin-left: 22em;
    margin-top: -2rem;
}
.aim hr{
    width: 17.5%;
    margin-left:46.5em;
}
.aim{
    height: 80vh;
}
.curved-div svg {
    display: block;
  }
  