*{
    margin: 0;
    padding:0;
    transition: all 0.5s;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #111;
    color: #eee;
}
.landing h1{
    font-family: "Noto Sans JP", sans-serif;
    position: absolute;
    margin-top: -7.5em;
    margin-left: 6.25em;
    font-size: 50px;
}
.navbar{
    position: fixed;
    background: #b83d57;
    width: 100%;
    height: 10vh;
}
.navbar a{
    color: #eee;
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    z-index: 10;
}
 
li {
    float: left;
    padding: 20px;
}  
li a{
    padding: 10px;
}
li a:hover:not(.active) {
    background-color: #111;
    border-radius: 10px;
}
.landing q{
    position: absolute;
    margin-top: -15em;
    margin-left: 22.5em;
    padding-left: 10px;
}
.c{
    height: 100vh;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #eee;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .c h1{
      margin-left: 2.5em;
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 500;
  }
.hr{
    margin-top: 1rem;
    margin-left: 5em;
    width: 10%;
}
.para-div{
    display: flex;
}
.para-div li:first-child{
    margin-left: 1em;
}
.para-div li:nth-child(2){
   margin-top: 5em;
}