{% extends "layout.html" %}
{% block content %}
    <div class="missions">
    <center>
        <h1>Missions</h1>
        <br>
        <hr class="missions-hr">
    </center>
    <br>
    <div class="mission-1">
        
    </div>
    <br>

    <div class="mission-1">

    </div>
    <br>
    <div class="mission-1">
        <center>
            <h2>Mission 3 will be out soon</h2>
        </center>
        <br>

    </div>
    <br>
    <center>
    <hr class="mission-hr-1">
    <br>
        <h4>*INTRESTED CANDIDATES NEED TO CREATE AN ACCOUNT FOR APPLYING FORMS FOR THESE MISSIONS*</h4>
    <br>
    <hr class="mission-hr-1">
    </center>
    <br>
    <br>
</div>
{% endblock content %}
