{% extends "layout.html" %}
{% block content %}
<div class="missions">
    <center>
        <h1>Missions</h1>
        <br>
        <hr class="missions-hr">
    </center>
    <br>    <br>    <br>
    <div class="mission-1">
        <div class="about">
            <h4>
               <i>Mission 1: Soil Observation & Bomb testing</i>
            </h4>
            <hr class="hr">
            <ul class="para-div">
                <li>
                    <div class="img">
                    <img src="https://media.discordapp.net/attachments/741244174736556076/840293347255910440/unknown.png" alt="earth">
                    </div>
                </li>
                <li>
                    <p>
                       With help of ISRO, We have marked 5 moon's craters for bomb testing and collect samples of minerals near these craters and run test for setting up bases so that we can expand our base on moon. Also to grow crops so that we could introduce agriculture and start building up a village.
                    </p>
                </li>
            </ul>
            
    </div>
    <br>

    <div class="mission-1">
        <div class="about">
            <h4>
               <i>Mission 2: Setting up of a base near Area-1Z2</i>
            </h4>
            <hr class="hr">
            <ul class="para-div">
                <li>
                    <div class="img">
                    <img src="https://media.discordapp.net/attachments/741244174736556076/840628119818862602/unknown.png" alt="earth">
                    </div>
                </li>
                <li>
                    <p>
                        In 2060, Space X established a base on mars for continuing their research on mars and they found out 2 areas which had the potential to develop for human life. This mission requires helping astronomers with their research on the area and help them setting up a village there.
                    </p>
                </li>
            </ul>
    </div>
    <br>
    <div class="counter-container">
        <h3 id="headline"><i>Mission 3</i> to be announced in: </h3>
        <br>
        <br>
        <p>This will give our organisation a huge boost and jump and will give our candidates/applicants a broader mindset for future campaigns </p>
        <div id="countdown">
            <ul>
                <li><span id="days"></span>days</li>
                <li><span id="hours"></span>Hours</li>
                <li><span id="minutes"></span>Minutes</li>
            </ul>
        </div>
        <br>
    </div>
    <script src="{{url_for('static', filename='counter.js')}}"></script>
{% endblock content %}
