{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <div class="landing">
      <div class="svg-container">
          <svg viewbox="0 0 800 400" class="svg">
            <path id="curve" fill="#b83d57" d="M 800 300 Q 400 350 0 300 L 0 0 L 800 0 L 800 300 Z">
            </path>
          </svg>
          <h1>Space Connect</h1>
          <br>
          <q>To achieve infinity and beyond</q>
        </div>
  </div>
  <div class="about">
      <h1>
          About Us
      </h1>
      <hr class="hr">
      <ul class="para-div">
          <li>
              <div class="img">
              <img src="https://media.discordapp.net/attachments/741244174736556076/840285035970297936/unknown.png" alt="earth" >
              </div>
          </li>
          <li>
              <p>
                  In 2050, Space X and Nasa signed a treaty in which they completed many missions together, with help of UN they created a body in which space organisations of many countries participated like ISRO, CNES, etc. and now we are proud to say that we have achieved the milestone that we dreamt of i.e. <b> <i> 'COLONIZATION IN MARS'</b></i>. We are an organsization which works directly under this body, we are here to recruit people who are bold, have leadership qualities and are ambitious to carry out missions and volunteer astronauts, astronomers, other scientist and faculty. 
              </p>
          </li>
      </ul>
      
  </div>
  <div class="aim">
      <h1>
          What's our goal?
      </h1>
      <br>
      <hr>
      <br>
      <ul class="aim-content">
          <li>
               <p>
                  Let's imagine your friend is living in mars and here you're working in moon you both are casually facetiming eachother and for you guys its normal but as we think of it we do laugh for such imagination but now our organisation wants to change your this dream into a reality . We believe that a human can explore beyond their imagination, in terms of universe which in itself is an infinite vessel for discoveries. We tend to develop humans and their upcoming generations to adapt in space and work there. 
                </p>
          </li>
          <li>
              <img src="https://media.discordapp.net/attachments/741244174736556076/840476092321759242/unknown.png" alt="earth" class="image-1">
          </li>
      </ul>
  
  </div>
  <br>
  <br>
  <center>
  <small style="color: #b83d57; font-weight: 800;">Judges can see Form responses(Mission) by going here <a href='{{url_for("admin_user")}}' style="color: white; text-decoration: none;">Response</a></small>
  </center>
  <br>
  <br>
  <script src="{{url_for('static', filename='preloader.js')}}"></script>
  <script src="{{url_for('static', filename='scroll.js')}}"></script>

 {% endblock content %}
